
<div class="slider_area slider_bg_1">
  <div class="single_slider d-flex align-items-start">
    <div class="container d-flex justify-content-center">
      <div class="container">
        <div class="slider_text">
          <h3>We Care <br> <span>Your Pets</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod.</p>
          <a href="contact.html" class="boxed-btn4">Contact Us</a>
        </div>
      </div>
      <div class="dog_thumb d-lg-block">
        <%= image_tag("dogbanner.png")%>
      </div>
    </div>
  </div>
</div>
