
<div id="banner" class="cal-12 d-flex header">
  <h1>We are looking for you!</h1>
  <%# <img src="https://rundawg.com//wp-content/uploads/2021/07/jurgen-latzke-ApIsl5g5SCE-unsplash-1-1024x608.jpg" alt="Welcome"> %>
</div>
