.footer {
  width: 100%;
  background-color: #f95815; // Background color for the footer
  color: #fff;
  margin-bottom: 0; // Add this line to remove bottom margin

  .footer-social {
    background-color: #f95815; // Match the footer background color
    .btn {
      background-color: #54456b; // Social button background color
      color: #fff; // Social button icon color
      border: none;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: #3e3a5e; // Darker shade on hover
        transform: scale(1.1); // Slightly enlarge on hover
      }

      i {
        font-size: 24px; // Size of the social icons
      }
    }
  }

  .footer-bottom {
    background-color: rgba(0, 0, 0, 0.2); // Slightly transparent background for the bottom section
    color: #fff; // Text color
    a {
      color: #fff; // Link color
      text-decoration: none;

      &:hover {
        text-decoration: underline; // Underline link on hover
      }
    }
  }
}
